assets/app1.jpg
assets/app2.jpg
assets/app3.jpg
assets/app4.jpg
assets/app5.jpg
assets/axioma_logo_colored_big.png

# dependencies
node_modules/

# build tools
assets/js/
esbuild/
chainesport-site@1.0.0/
